<!DOCTYPE html>
<html>

<head>
  <title>Faces home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <script src="../javascript/script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="topbar">
    <a href="/home"><div id="gohome" class="navitem">Faces</div></a>
    <a href = "{{user_logout}}"><div id="logout" class="navitem"> Log Out  </div></a>

    <a href="/about"><div id="tutorial" class="navitem">About</div></a>
  </div>

<div id="aboutwall">
    <div id="howtoplay">
      <h3 align="center">What it's About</h3>
        <p>Faces is a way to help you with associations! If you've ever met a bunch
        of people at once, you might need assistance remembering names. Just create a new
        category and add your new friends so you can refer back to them later!</p>
        <p> You can even use Faces to help you remember other things like story book characters!
          If you've ever read a book and had trouble remembering how the characters relate,
          just add them to your book's category and write a short description to help you out.</p>
      <h3 align="center">Using Categories</h3>
        <p>Click the "Add Category" button at the top-right to add a category.</p>
        <a href="/home"><div align="center"><img src="../resources/AddCat.png" width="150px";></img></div></a>
        <p>Click on the "delete" button inside the selected category tile in order to delete
          the category. </p>
        <div align="center"><img src="../resources/Delete.png" width="150px";></img></div>
      <h3 align="center">Adding a Person to a Category</h3>
        <p>Click on the "Add Person" button in order to add someone to the selected cateogry.</p>
        <div align="center"><img src="../resources/addperson.png" width="150px";></img></div>
        <p>To insert an image URL, find an image on the internet, right click, and select "copy image URL".
          You can enter this URL to give your person an image to associate.</p>
        <p>Click on the "delete" button insdie the selected person tile in order to delete
          a person from the category.</p>
        <div align="center"><img src="../resources/deleteperson.png" width="300px";></img></div>
      <h3 align="center">Additional Info</h3>
        <p>If you're still reading this, it's already too late...</p>
    </div>
</div>

<div id="aboutthecreators"><h3 align="center">About the Creators</h3></div>
  <div id="aboutus">
    <div id="vikki" class="makers">
      <h2 align="center">
      Vikki Pang
      </h2>
      <div align="center"><img src="../resources/vikki.JPG" width="100%";></img></div>
        <p>
          Vikki is from West Covina, Califoria and will be going to UC Irvine with awesome
          John. Nisha is also from really close to Irvine so we three are DESTINED :)
        </p>
    </div>
    <div id="john" class="makers">
      <h2 align="center">
      John Jackson, III
      </h2>
      <div align="center"><img src="../resources/john.jpg" width="100%";></img></div>
        <p>
          John is from New Orleans Louisiana, one of the few places in the United States
          where people can eat food. Knowing this he willingly left his hometown for
          California where he attends UC Irvine. With out-of-state tuition being a thing,
          the struggle continues to be real for the young homie as he pursues a career
          in Computer Science.
        </p>
    </div>
  <div id="nisha" class="makers">
       <h2 align="center">
       Nisha Yerunkar
       </h2>
       <div align="center"><img src="../resources/nisha.jpg" width="100%";></img></div>
         <p>
           Nisha is the best person in the entire world. Ever. From Orange County, California,
           she will be attending the University of Califonia, San Diego in the fall. She wishes that
           the simplicity of this website will be appealing or something.
         </p>
    </div>
  </div>


</body>
</html>
